
/*---------- Extra Large (xl) ----------*/
@media (min-width: 1200px) {
    .header .title {
      height: 64px;
    }
  
    .title .logo-text {
      font-size: 48px;
    }
  
    .logo-text .capital {
      font-size: 64px;
    }
  
    .timer {
      height: 64px;
      font-size: 64px;
    }

    .content {
      border: 50px solid transparent;
      border-top-color: #cecece;
    }
}

/*---------- Large (lg) ----------*/
@media (max-width: 1200px) {
    .header .title {
      height: 48px;
    }
  
    .title .logo-text {
      font-size: 36px;
    }
  
    .logo-text .capital {
      font-size: 48px;
    }
  
    .timer {
      height: 48px;
      font-size: 48px;
    }

    .content {
      border: 40px solid transparent;
      border-top-color: #cecece;
    }
  }
  
  /*---------- Medium (md) ----------*/
  @media (max-width: 992px) {
    .content {
      border: 30px solid transparent;
      border-top-color: #cecece;
    }
  }
  
  /*---------- Small (sm) ----------*/
  @media (max-width: 768px) {
    .content {
      border: 25px solid transparent;
      border-top-color: #cecece;
    }
  }
  
  /*---------- Extra Small ----------*/
  @media (max-width: 576px) {
    .header .title {
      height: 36px;
    }
  
    .logo-text .capital {
      font-size: 36px;
    }
  
    .title .logo-text {
      font-size: 24px;
    }
  
    .timer {
      height: 36px;
      font-size: 36px;
    }

    .perspective-1 {
      margin-top: -6px;
      margin-bottom: -8px;
      transform: perspective(300px) rotateX(-41deg);
    }
  }

@media (max-width: 428px) {
  #root {
    width: 428px;
  }
}

@media (min-width: 428px) {

}