@font-face {
  font-family: 'PhoenixHacks';
  src: url('../fonts/PhoenixHacks-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/*========== Sections ==========*/
.content-section {
  /*margin: 0;
  margin-top: 30px;*/
}

/*---------- Header ----------*/
.header {
  margin: 0;
  text-align: center;
  padding: 20px 20px 0 20px;
  background-color: #fdfffc;
  /*border-radius: 0 0 20px 20px;*/
  color: black;
  align-content: center;
}

.header a:hover {
  text-decoration: none;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

.title .logo-image {
  margin-right: 5px;
  height: 100%;
}

.title .logo-text {
  font-family: 'PhoenixHacks', sans-serif;
  color: black;
}

.logo-text .live {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: #00E174;/*
  border: 3px solid #00E174;*/
}

.timer {
  font-weight: 900;
  /*border: 3px solid #dc3545;*/
}

/*---------- Content ----------*/
.content {
  /*background-color: #e5e5e5;*/
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.container {
  padding: 0;
}

.transition {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.t-down {
  border-top-color: #cecece !important;
}

.t-up {
  border-bottom-color: #cecece !important;
}

.media {
  background-color: #d7d7d7;
  padding: 10px;
}

.media-info {
  height: 300px;
}

.media-info div {
  height: 50%;
}

.media-info div div {
  height: 100%;
}

.media-links {
  display: inline-block;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: left;
}

.media-links div {
  display: inline-block;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.media-links div a, .media-links div h5 {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 23px;
  height: 23px;
}

.media-links div h5:hover {
  color: #8f40bf !important;
}

.media-links div a:hover {
  text-decoration: none;
}

.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.wifi {
  height: 100%;
  padding: 10px 10px 10px 0;
}

.wifi div {
  padding: 10px;
}

.wifi-title {
  margin: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.wifi h5 {
  margin: 0;
  text-align: center;
  width: 100%;
}

.radio {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0 10px 10px 10px;
}

.radio div {
  height: 100%;
  width: 100%;
  padding: 10px;
}

/*---------- Schedule ----------*/

.schedule-tabs {
  background-color: white;
  padding-bottom: 30px;
  /*max-height: 750px;*/
  margin: 0;
}

.nav-tabs {
  background-color: #e7e7e7;
  font-weight: bold;
}

.nav-tabs .nav-item {
  color: #7f7f7f;/*#8f40bf !important;*/
  text-decoration: none;
}

.nav-tabs .nav-link:hover {
  border-color: black !important;
}

.nav-tabs .nav-link.active {
  color: black;/*#47205f !important;*/
  background-color: #fafafa !important;
  /*
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5) !important;*/
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.tab-content {
  width: 100% !important;
}

.schedule-announcements {
  justify-content: space-between;
  padding: 40px;
  display: flex;
  border-radius: 20px;
}

#schedule {
  background-color: #fafafa;
  font-size: 100%;/*1.28em;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: black;
  position: relative;
  /*background: white;
  padding: 20px;*/
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #EBF6FF;
}

.table-hover thead, .table-hover tbody {
  display: table-row-group;
}

.announcements-list,
.event-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* width: 70%; */
  overflow: scroll;
  max-height: 750px;
  padding: 20px;
}
.announcements-list {
  height: 240px;
  border-radius: 0 0 6px 6px;
  background: #36393e;
  box-shadow: 0 0px 32px -15px #fff inset;
  -moz-box-shadow:    inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow:         inset 0 0 2px #000000;
}

hr {
  margin: 10px 0;
}

.event-list li {
  margin: 10px auto;
}

.event-header {
  display: flex;
  justify-content: space-between;
}

/*---------- Announcements ----------*/
.announcements {
  height: 300px;
  width: 100%;
  padding: 10px;
}

.announcements div {
  height: 100%;
  width: 100%;
}

.announcements-title {
  text-align: center;
  background: #2f3136;
  color: white;
  border-radius: 6px 6px 0 0;
  margin-bottom: 0;
  height: 40px;
  vertical-align: middle;
}

@media (max-width: 360px),  {
  .announcements-title {
    font-size: 24px;
  }
}

/*---------- Maps ----------*/
.maps {
  height: 100%;
  margin: 0;
}

.map1 img, .map2 img {
  width: 100%;
}

.map1 {
  background-color: #120c30;
}

.map2 {
  background-color: white;
}

/*---------- Footer ----------*/
.footer {
  
}