@font-face {
  font-family: 'PhoenixHacks';
  src: url('../fonts/PhoenixHacks-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/*---------- Header ----------*/
.header {
  text-align: center;
  padding: 20px 0 5px 0;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  background-color: white;
  border-radius: 0 0 20px 20px;
  color: black;
  align-content: center;
  /*justify-content: space-between;
  display: flex;*/
}

.header a:hover {
  text-decoration: none;
}

/*---------- Sections ----------*/
.section {
  
}


/*---------- Header ----------*/



.header .header-logo {
  height: 64px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.header-logo .logo-image {
  height: 64px;
  margin-right: 5px;
}

.header-logo .logo-text-phoenixhacks {
  font-family: 'PhoenixHacks';
  font-size: 48px;
  color: black;
}

.header-logo .logo-text-phoenixhacks-initialism {
  font-family: 'PhoenixHacks';
  font-size: 64px;
  color: black;
}

.header-logo .logo-text-live {
  font-family: 'PhoenixHacks', sans-serif;
  color: #00E174;
  font-size: 64px;
}

.header h2 {
  font-weight: 700;
}

.header .timer {
  font-weight: 900;
  font-size: 70px;
  border: 1px solid #e5e5e5;
  background: black;
  color: white;
  padding: 5px;
}

.header-btn-container {
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.header-btn {
  border: 0px;
  background: linear-gradient(180deg, #8f40bf, #47205f);
  border-radius: 50px;
  padding: 6px 20px;
  color: white;
  font-weight: 700;
  margin: 3px 8px;
  display: inline-block;
}

.header-container {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 40px;
  background: #cecece;
}

/* Schedule / Announcements */

.card {
}

.schedule-announcements {
  justify-content: space-between;
  padding: 40px;
  display: flex;
  background: white !important;
  border-radius: 20px;
}

.announcements-list,
.schedule-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* width: 70%; */
  overflow: scroll;
  max-height: 750px;
  padding: 10px 30px;
  border-radius: 6px;
  background: #fafafa;
  box-shadow: 0 0px 32px -15px #fff inset;
}

.schedule-list {
  flex: 2 1 66%;
}

.announcements-list {
  flex: 1 1 33%;
  padding: 12px;
}

.schedule-list li {
  margin: 10px auto;
}

.schedule-header {
  display: flex;
  justify-content: space-between;
}

.schedule {
  margin-right: 16px;
}

.header-info {
  display: flex;
  margin: 30px auto;
  justify-content: center;
}

.header-info h5 {
  margin: auto 10px;
}

.meals {
  margin-top: 30px;
  padding: 40px;
  background: white;
  border-radius: 20px;
}

.challenges {
  padding: 40px;
  background: white;
  border-radius: 20px;
}
.workshops {
  padding: 40px;
  background: white;
  border-radius: 20px;
}
.schedule {
  margin-top: 15px;
  font-size: 1.28em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: black;
  position: relative;
}

.schedule .days {
  display: flex;
}

.schedule h2 {
  margin-bottom: 16px;
}

.schedule .day {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.schedule .day h3 {
  font-size: 1.25em;
}

.schedule .day .times li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.schedule .day .times .time {
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.schedule .day .times {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.9em;
  line-height: 1.4em;
}

.maps {
  background-color: white;
  padding: 40px;
  border-radius: 20px 20px 0 0;
  margin-bottom: 60px;
}

@media (max-width: 1000px) {
  .schedule-announcements {
    display: inline-block;
  }

  .announcements {
    margin: 50px auto 20px auto;
  }
  .announcements .schedule-list {
    height: 300px;
    overflow: scroll;
  }
  .schedule .day {
    margin: 10px auto;
  }
}

/* @media (min-width: 768px) {
  .container {
    width: 920px;
  }

  .schedule-header {
    font-size: 15px;
  }
  .schedule-header span {
    font-size: 15px;
  }
} */

@media (max-width: 590px) {
  .schedule .day {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%;
  }
  .header .timer {
    font-weight: 900;
    font-size: 50px;
  }
  .header-info {
    margin: 30px auto 0px auto;
  }
  .header-info h5 {
    font-size: 18px;
  }

  .header-btn {
    font-size: 13px;
    margin: 3px 8px;
  }

  .header-btn-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .schedule-announcements {
    padding: 10px;
  }

  .challenges {
    padding: 16px;
  }
  .workshops {
    padding: 16px;
  }
}

@media (max-width: 760px) {
  .schedule .day .times {
    padding-right: 16px;
  }
  .schedule .day {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%;
  }
  .schedule .days {
    display: flex;
    flex-wrap: wrap;
  }
}
.Blink {
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  padding-bottom: 10px;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
