@font-face {
  font-family: 'PhoenixHacks';
  src: url('../fonts/PhoenixHacks-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/*========== Sections ==========*/
.content-section {
  margin: 0;
  margin-top: 30px;
}

/*---------- Header ----------*/
.header {
  text-align: center;
  padding: 0 10px 0 10px;
  background-color: #fdfffc;
  border-radius: 0 0 20px 20px;
  color: black;
  align-content: center;
}

.header a:hover {
  text-decoration: none;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

.title .logo-image {
  margin-right: 5px;
  height: 100%;
}

.title .logo-text {
  font-family: 'PhoenixHacks', sans-serif;
  color: black;
}

.logo-text .live {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: #00E174;/*
  border: 3px solid #00E174;*/
}

.timer {
  font-weight: 900;
  /*border: 3px solid #dc3545;*/
  margin-left: auto;
}

@media (min-width: 1000px) {
  .header .title {
    height: 64px;
  }

  .title .logo-text {
    font-size: 48px;
  }

  .logo-text .capital {
    font-size: 64px;
  }

  .timer {
    height: 64px;
    font-size: 64px;
  }
}

@media (max-width: 1000px) {
  .header .title {
    height: 48px;
  }

  .title .logo-text {
    font-size: 36px;
  }

  .logo-text .capital {
    font-size: 48px;
  }

  .timer {
    height: 48px;
    font-size: 48px;
  }
}

@media (max-width: 590px) {
  .header .title {
    height: 36px;
  }

  .logo-text .capital {
    font-size: 36px;
  }

  .title .logo-text {
    font-size: 24px;
  }

  .timer {
    height: 36px;
    font-size: 36px;
  }
}

/*---------- Content ----------*/
.content {
  /*background-color: #e5e5e5;*/
  width: 100%;
  margin-right: auto;
  margin-left: auto;/*
  border: 2px solid #23282b;
  border-top: none;
  border-bottom: none;*/
  z-index: -1;
}

.media {
  width: 100%;
  /*background-color: white;*/
  margin-left: auto;
  margin-right: auto;
}

.media-info {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.media-links {
  padding: 10px;
  margin: 0;
}

.spacer {
  height: 20px;
}

.link {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  margin: 5px;
  color: black;
}

.wifi {
  /*margin: 20px auto;*/
  margin: 0;
  padding: 10px;
  width: 100%;
}

/*---------- Schedule ----------*/

.schedule-tabs {
  width: 100%;
  background-color: #cecece;
}

.nav-tabs {
  background-color: #cecece !important;
  font-weight: bold !important;
}

.nav-tabs .nav-item {
  color: #8f40bf !important;
  text-decoration: none !important;
}

.nav-tabs .active {
  color: #47205f !important;
  background-color: white !important;/*
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5) !important;*/
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5) !important;
}

.tab-content {
  width: 100% !important;
}

.schedule-announcements {
  justify-content: space-between;
  padding: 40px;
  display: flex;
  border-radius: 20px;
}

#schedule {
  background-color: #fafafa;
  font-size: 100%;/*1.28em;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: black;
  position: relative;
  /*background: white;
  padding: 20px;*/
  margin: ;
}

/*---------- Schedule ----------*/

.announcements-list,
.event-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* width: 70%; */
  overflow: scroll;
  max-height: 750px;
  padding: 20px;
}
.announcements-list {
  border-radius: 6px;
  background: #e5e5e5;
  box-shadow: 0 0px 32px -15px #fff inset;
  -moz-box-shadow:    inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow:         inset 0 0 2px #000000;
}

.event-list li {
  margin: 10px auto;
}

.event-header {
  display: flex;
  justify-content: space-between;
}/*

.schedule {
  margin-right: 16px;
}*/

/*---------- Announcements ----------*/
.announcements {
  height: 300px;
  padding: 20px;/*
  margin: 20px 5px 20px 0;*/
}

.announcements-title {
  text-align: center;
}

/*---------- Maps ----------*/
.maps {
  background-color: white;
  padding: 40px;
  /*border-radius: 20px 20px 0 0;*/
  margin-bottom: 60px;
  width: 100%;
}

.map {
  width: 100%;
}

/*---------- Footer ----------*/
.footer {
  
}

/*---------- Effects ----------*/
.Blink {
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  padding-bottom: 10px;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.inner-shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}








/*---------- Meals ----------*//*
.schedule .days {
  display: flex;
}

.schedule h2 {
  margin-bottom: 16px;
}

.schedule .day {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.schedule .day h3 {
  font-size: 1.25em;
}

.schedule .day .times li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.schedule .day .times .time {
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.schedule .day .times {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.9em;
  line-height: 1.4em;
}*/

/*---------- end Meals ----------*/