@mixin font-face($name, $path) {
  @font-face {
    font-family: $name;
    src: url($path);
  }
}

@include font-face('PhoenixHacks', './fonts/PhoenixHacks-Regular.ttf');
@include font-face('Bahnschrift', './fonts/BAHNSCHRIFT.TTF');

$font-stack: 'Bahnschrift', Helvetica, sans-serif;
$palette: (
  background-primary: #36393f,
  background-secondary: #2f3136,
  background-tertiary: #202225,
  text-normal: #dcddde,
  text-muted: #72767d
);
$screen-sizes: (
  xxs: 320px,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

body {
  font: 100% $font-stack;
  background: map-get($palette, background-tertiary);
  color: map-get($palette, text-normal);
}

/*
*:focus {
  box-shadow: none !important;
  outline: 0 !important;
}*/