// _base.scss
@mixin font-face($name, $path) {
  @font-face {
    font-family: $name;
    src: url($path);
  }
}

@include font-face(PhoenixHacks, './fonts/PhoenixHacks-Regular.ttf');
@include font-face(Bahnschrift, './fonts/BAHNSCHRIFT.TTF');

$font-stack: Bahnschrift, Helvetica, sans-serif;
$palette: (
  background-primary: #424242,//#36393f,
  background-secondary: #303030,//#2f3136,
  background-tertiary: #212121,//#202225,
  background-quaternary: #000000,
  text-normal: #dcddde,
  text-muted: #72767d,
  text-variant-1: #b179d2//#8f40bf
);
$screen-sizes: (
  xxs: 320px,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

body {
  font: 100% $font-stack;
  background: map-get($palette, background-tertiary);
  color: map-get($palette, text-normal);
  display: table;
  width: 100%;
}

/*
*:focus {
  box-shadow: none !important;
  outline: 0 !important;
}*/