// _base.scss
@mixin font-face($name, $path) {
  @font-face {
    font-family: $name;
    src: url($path);
  }
}

@include font-face(PhoenixHacks, './fonts/PhoenixHacks-Regular.ttf');
//@include font-face(Bahnschrift, './fonts/BAHNSCHRIFT.TTF');
@include font-face('Noto Mono', './fonts/NotoMono-Regular.woff');
@include font-face('Liberation Mono', './fonts/LiberationMono/LiberationMono-Regular.woff');
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

$font-stack: Noto Sans, sans-serif;//Bahnschrift, Helvetica, sans-serif;
$palette: (
  background-primary: #424242,//#36393f,
  background-secondary: #303030,//#2f3136,
  background-tertiary: #212121,//#202225,
  background-quaternary: #000000,
  text-normal: #dcddde,
  text-muted: #72767d,
  text-variant-1: #b179d2,//#8f40bf
  text-dark: #000000
);
$screen-sizes: (
  xxs: 320px,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

* {
  //box-sizing: border-box;
  //padding: 0;
  //margin: 0;
  min-width: 0;
}

body {
  font: 100% $font-stack;
  background: map-get($palette, background-tertiary);
  color: map-get($palette, text-normal);
  //display: table;
  //width: 100%;
}
/*
#root {
  width: 100%;
  display: grid;
  grid-template-rows: min-content min-content;
}*/

h1, h2, h3, h4, h5, h6 {font-family: 'Noto Serif'; }
table { font-family: 'Noto Mono'; }

a, a:hover {
  text-decoration: none;
  color: inherit;
} a:hover {
  color: map-get($palette, text-variant-1)
}

hr {
  background: map-get($palette, background-secondary);
  margin: 0;
}

/*
*:focus {
  box-shadow: none !important;
  outline: 0 !important;
}*/