// _effects.scss
@import 'base';

.Blink {
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Active {
  animation: active 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes active {
  from {
    color: map-get($palette, text-normal)
  }
  to {
    color: map-get($palette, text-variant-1)
  }
}

.inner-shadow {
  -moz-box-shadow:    inset 0 0 1px map-get($palette, background-quaternary);
  -webkit-box-shadow: inset 0 0 1px map-get($palette, background-quaternary);
  box-shadow:         inset 0 0 1px map-get($palette, background-quaternary);
}

.outer-shadow {
  -moz-box-shadow:    0 0 1px map-get($palette, background-quaternary);
  -webkit-box-shadow: 0 0 1px map-get($palette, background-quaternary);
  box-shadow:         0 0 1px map-get($palette, background-quaternary);
}

.glow {
  text-shadow:1px 1px 5px black, 1px 1px 5px #a3f7bf;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: map-get($palette, background-secondary);
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: map-get($palette, background-quaternary);
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

::-webkit-scrollbar-corner {
  background: #d7d7d7;
}