// _header.scss
@import 'base';
@import 'effects';

#header {
  display: grid;
  text-align: center;
  grid-template-rows: repeat(min-content);
  padding: 10px;
  background-color: map-get($palette, background-quaternary);
  color: map-get($palette, text-normal);
  //box-shadow: 0 0 1px rgba(0,0,0,0.12), 0 0 1px rgba(0,0,0,0.24);

  a {
    //TODO: Clean up this section.
    grid-row: 1;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: min-content min-content;
    margin: auto;
    grid-template-rows: min-content;
    $size: 4rem;
    //font-size: $size;

    @include mq('phone-wide') {
      //grid-template-columns: auto min-content min-content auto;
    }

    img {
      grid-area: 1 / 2;
      //DONE: figure out responsive image height just like rfs for font-size
      height: 100%;
      margin: auto;
    }

    .logo-text {
      grid-area: 1 / 3;
      font-family: 'PhoenixHacks', sans-serif;
      margin-top: auto;
      @include font-size(48px);
      //font-size: 3rem;

      .capital { 
        @include font-size(64px); 
        //font-size: 4rem;
      }

      .live-inside {
        @include font-size(48px);
        font-family: $font-stack;
        color: #a3f7bf;
        display: none;

        @include mq('phone') {
          display: inline;
        }
      }
    }
  }

  a:hover { transform: scale(1.05, 1.05); }

  .live-outside {
    grid-row: 2;
    @include font-size(48px);
    font-family: $font-stack;
    color: #a3f7bf;
    //display: inline;

    @include mq('phone') {
      display: none;
    }
  }

  #timer {
    grid-row: 3;
    
    @include mq('phone-wide') {
      grid-row: 2;
    }

    h1 { 
      margin: auto;
      display: grid;
      grid-template-columns: 1fr min-content 1fr min-content 1fr min-content 1fr;
      width: 7em;
      font-family: 'Noto Mono';
      //font-size: 32px;

      span:hover { transform: scale(1.05, 1.05); }
    }

    hr {
      width: 14.5em;
      border: 1px solid map-get($palette, text-variant-1);
      margin: 0 auto;
    }

    #timeUnits {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 19em;
      margin: auto;
      color: map-get($palette, text-variant-1);

      div {
        position: relative;
        $transition: -0.8rem;
        top: $transition;
        margin-bottom: $transition;

        svg {
          height: 10px;
          width: 10px;

          circle {
            cx: 4;
            cy: 4;
            r: 4;
            fill: map-get($palette, text-variant-1);
          }
        }
      }
    }
  }
}