// _schedule.scss
@import 'base';
@import 'effects';

#schedule {
  padding: 10px;
  background: map-get($palette, background-primary);
  border-radius: 6px;

  .nav {
    display: grid;
    grid-gap: 5px;
    border: 1px solid map-get($palette, text-variant-1);
    border-bottom: none;
    background-color: map-get($palette, background-secondary);
    padding: 10px 10px 0 10px;

    grid-template: repeat(3, min-content) / repeat(2, 1fr);
    @include mq('phone') {
      grid-template: repeat(2, min-content) / repeat(3, 1fr);
    }
    @include mq('tablet-wide') {
      grid-template: auto / repeat(6, auto);
    }

    .nav-link {
      white-space: nowrap;
      text-align: center;
      border: 1px solid map-get($palette, text-normal);
      background-color: map-get($palette, background-primary);
      border-radius: 0;
    }

    .nav-link:hover {
      border: 1px solid map-get($palette, text-variant-1);
      color: map-get($palette, text-normal);
      transform: scale(1.01, 1.01);
    }

    .active {
      background-color: map-get($palette, text-variant-1);
      border: 1px solid map-get($palette, text-variant-1);
      color: map-get($palette, text-dark);
    }
  }

  #tab {
    display: grid;
    grid-gap: 10px;
    background: map-get($palette, background-secondary);
    padding: 10px;
    border: 1px solid map-get($palette, text-variant-1);
    border-top: none;
    border-radius: 0 0 6px 6px;

    #day {
      border: 1px solid map-get($palette, text-normal);
      //overflow-x: scroll;

      h3 {
        margin: 0;
        padding: 10px;
        color: map-get($palette, text-variant-1);
        background: #383838;
        font-weight: bold;
        text-align: center;
      }
      table {
        color: map-get($palette, text-normal);
        margin: 0;

        th, td {
          border-color: map-get($palette, text-muted);
          vertical-align: middle;

          padding: 2px;
          border-left: 1px solid map-get($palette, text-muted);

          @include mq('phone') {
            padding: 5px;
          }
          @include mq('phone-wide') {
            padding: .75rem;
            border-left: none;
          }
        }

        .indicator {
          padding: 0;
          margin: 0;
          width: 3%;

          @include mq('phablet') {
            width: 2%;
          }
          @include mq('tablet-wide') {
            width: 1%;
          }
        }

        .large-location {
          display: none !important;

          @include mq('phone-wide') {
            display: table-cell !important;
          }
        }

        .small-location {
          @include mq('phone-wide') {
            display: none;
          }
        }

        tbody {
          tr:nth-child(odd) { background: #383838; }
          tr:hover { 
            color: #ddc5eb; 
            background: #2c2c2c;
          }
          
          tr#dropdown {
            background-color: map-get($palette, background-tertiary);
            td {
              padding: 5px;
            }
            td p {
              background-color: map-get($palette, background-primary);
              border-top: 1px solid #dee2e6;
              border-left: 1px solid #72767d;
              padding: 5px;
              margin: 0;
            }
            table td {
              background-color: map-get($palette, background-primary);
              text-align: center;
            }
          }
          tr.hiddenRow {
            display: none;
          }

          tr.expired {
            position: relative;
            font-style: italic;
            color: map-get($palette, text-muted);
          }

          td#greenlight { background-color: #a9cf54; }
          td#yellowlight { background-color: #f7e967; }
          td#redlight { background-color: #f1433f; }
        }
      }
    }
  }
}