// _schedule.scss
@import 'base';
@import 'effects';

#schedule {
  padding: 10px;
  background: map-get($palette, background-primary);
  border-radius: 6px;

  .nav {
    display: grid;
    grid-gap: 5px;
    border: 1px solid map-get($palette, text-variant-1);
    background-color: map-get($palette, background-secondary);
    padding: 5px;

    grid-template: repeat(3, min-content) / repeat(2, 1fr);
    @include mq('phone') {
      grid-template: repeat(2, min-content) / repeat(3, 1fr);
    }
    @include mq('tablet') {
      grid-template: auto / repeat(5, min-content) auto;
    }

    .nav-link {
      white-space: nowrap;
      text-align: center;
      border: 1px solid map-get($palette, text-normal);
      background-color: map-get($palette, background-primary);
      border-radius: 0;
    }

    .nav-link:hover {
      border: 1px solid map-get($palette, text-variant-1);
      color: map-get($palette, text-normal);
    }

    .active {
      background-color: map-get($palette, text-variant-1);
      border: 1px solid map-get($palette, text-variant-1);
      color: map-get($palette, text-dark);
    }
  }

  #tab {
    display: grid;
    grid-gap: 10px;
    background: map-get($palette, background-secondary);
    padding: 10px;
    border: 1px solid map-get($palette, text-variant-1);
    border-top: none;
    border-radius: 0 0 6px 6px;

    #day {
      border: 1px solid map-get($palette, text-normal);
      //overflow-x: scroll;

      h3 {
        margin: 0;
        padding: 10px;
        color: map-get($palette, text-variant-1);
        background: #383838;
        font-weight: bold;
        text-align: center;
      }
      table {
        color: map-get($palette, text-normal);
        margin: 0;

        th, td {
          border-color: map-get($palette, text-muted);
          vertical-align: middle;

          padding: 0;
          border-left: 1px solid map-get($palette, text-muted);

          @include mq('phone-wide') {
            padding: 5px 0 5px 0;
          }
          @include mq('phone-wide') {
            padding: .75rem;
            border-left: none;
          }
        }

        .indicator {
          padding: 0;
          margin: 0;
          width: 2%;

          @include mq('phablet') {
            width: 0.6%;
          }
        }

        tbody {
          tr:nth-child(odd) { background: #383838; }
          tr:hover { color: #ddc5eb; background: #2c2c2c; }
          
          tr#dropdown {
            background-color: map-get($palette, background-quaternary);
          }
          tr.hiddenRow {
            display: none;
          }

          tr.expired {
            position: relative;
            font-style: italic;
            color: map-get($palette, text-muted);
          }

          td#greenlight { background-color: #a9cf54; }
          td#yellowlight { background-color: #f7e967; }
          td#redlight { background-color: #f1433f; }
        }
      }
    }
  }
}