// style.scss
@import 'base';
@import '~rfs/scss';

.text-danger {
  color: #d32f2f !important;
}

#header {
  width: 100%;
  text-align: center;
  background-color: map-get($palette, background-secondary);
  color: map-get($palette, text-normal);

  a {
    $size: 64px; 
    height: $size;
    font-size: $size;
    text-decoration: none;
    color: inherit;

    img {
      // figure out responsive image height just like rfs for font-size
      height: inherit;
      @media (max-width: 992px) {
        height: 7vw;
      }
      vertical-align: middle;
    }

    .logo-text {
      font-family: 'PhoenixHacks', sans-serif;
      @include font-size(48px);

      .live {
        font-family: $font-stack;
      }
      .capital {
        @include font-size(64px);
      }
    }
  }
}

#timer {

}

#media {

}

#announcements {

}

#schedule {

}

#maps {

}